<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <!-- Neem de connectionStrings sectie mee op in de app.config en plaats hier je connectionstrings. -->
  <!-- Hierdoor kan je makkelijk via de configurationmanager een connectionstring ophalen -->
  <connectionStrings>
    <clear/>
    <!-- Per connectionstring dien je een name op te geven en de eigenlijke connectionstring. -->
    <!-- Via de configurationmanager kan je met de name property de juiste connectionstring ophalen. -->
    <add name="Connection1" connectionString="Connection number 1"/>
    <add name="Connection2" connectionString="Connection number 2"/>
    <add name="Connection3" connectionString="Connection number 3"/>
  </connectionStrings>
</configuration>