
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item"  [routerLink]="['welkom']">
        <img src="" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">

        <a class="navbar-item" class="button" data-toggle="collapse" data-target="#navbar"[routerLink]="['welkom']" [routerLinkActive]="['is-danger']">
            Welkomstcomponent
          </a>
        <a class="navbar-item" class="button" [routerLink]="['Calculator']" [routerLinkActive]="['is-danger']">
          Calculator
        </a>
  
        <a class="navbar-item" class="button" [routerLink]="['redbox']" [routerLinkActive]="['is-danger']">
          redbox
        </a>
        
        <a class="navbar-item" class="button"  [routerLink]="['ToDo']" [routerLinkActive]="['is-danger']" >
            Todo-Lijst
          </a>
  
        </div>
      </div>
  </nav>