<div class="ui-inputgroup">

  <div>
    <input type="text" placeholder="Firstname" [(ngModel)]="person.FirstName">
    <input type="text" placeholder="Lastname " [(ngModel)]="person.Name">
  </div>
  <input type="text" placeholder="street" [(ngModel)]="person.Street">
  <input type="text" placeholder="number" [(ngModel)]="person.Number">
  <div>
    <input type="text" placeholder="city" [(ngModel)]="person.City">

  </div>
  <input type="submit" value="Submit" (click)="publish()">
</div>

<div *ngIf="isPublished">
    <div>{{person.FirstName}}, {{person.Name}}</div>
    <div>{{person.Street}}, {{person.Number}}</div>
    <div>{{person.City}}</div>

</div>
<br>
<br>
<br>
<br>