<div class="columns">
    <div class="column">
      <img style="padding-left:20%; padding-top:10%" src="./assets/oak.jpg">
    </div>
    <div Style="padding-top:5%"class="column">
      <p>hello there, welcome to the world of Pokemon!</p><br>
      <p>My name is Oak! People call me the pokemon Prof!</p> <br>
      <p>This world in inhabited by creatures called pokemon!</p><br>
      <p>for some people, Pokemon are pets. other use them for fights.</p><br>
      <p>
        Myself.. I study Pokemon as profession your very own pokemon legend is about to unfold! <br> A world of dreams and
        Adventures with pokemon awaits! Lets' go</p>
    </div>
</div>

