<u>oef1</u>
<ul> 
  <li>De huidige tijd weergeeft in HH:mm:ss</li>
  <app-current-time></app-current-time>
  <li>Een teller weergeeft die emke 200 ms verhoogd</li>
  <app-counter></app-counter>
  <li>Een willekeurige waarde weergeeft (0-100) elke 2 sec</li>
  <app-randint></app-randint>
  <li>Een tekst weergeeft:</li>
  <app-started-ago></app-started-ago>
  <br>
</ul>
<u>oef2</u>
<ul> 
  <li>Willekeurig getal</li>
  <app-random-score></app-random-score>
  <br>
  <li>Welkomstcomponent</li>
  <app-welkom-component></app-welkom-component>
  <br>
</ul>