<div class="columns">
    <div class="column">
    </div>
    <div class="column">
<div *ngIf="shoppingList.length != 0">
    overzicht
    <table class="table">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Aantal</th>
                <th>Prijs</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of shoppingList" (mouseover)="btn.hidden = false" (mouseout)="btn.hidden = true">
                <td>{{item.Name}}</td>
                <td>{{item.Amount}}</td>
                <td>{{item.Price}}</td>
                <td><button #btn (click)="remove(item.id)" [hidden]="true">X</button> </td>
            </tr>
        </tbody>
    </table>
    <div class="label">Totaal prijs (in €)</div>
    <div class="field">
        <input type="text" [value]="price" readonly>
    </div>
</div>

<div *ngIf="shoppingList.length == 0">
    Het lijstje is nog leeg
</div>
    </div>
    <div class="column">
    </div>
</div>